{% extends "layout.html" %}
{% block content %}
<h2>Rediģēt Profila Datus</h2>
<form method="POST">
    <label>Vecums:</label><br>
    <input type="number" name="age" value="{{ user.age }}" required><br>
    
    <label>Dzimums:</label><br>
    <select name="gender">
        <option value="Vīrietis" {% if user.gender == 'Vīrietis' %}selected{% endif %}>Vīrietis</option>
        <option value="Sieviete" {% if user.gender == 'Sieviete' %}selected{% endif %}>Sieviete</option>
    </select><br>
    
    <label>Augums (cm):</label><br>
    <input type="number" name="height" value="{{ user.height }}" required><br>
    
    <label>Svars (kg):</label><br>
    <input type="number" name="weight" value="{{ user.weight }}" required><br>

    <div class="button-group">
        <button type="submit" name="action" value="save">Saglabāt izmaiņas un atgrizties</button>
    </div>
</form>
{% endblock %}
